.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.dashboard-item {
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}